@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

  }
}

@layer components {
  .btn-gradient {
    background-image: linear-gradient(to bottom right, #3B82F6, #3AC7AC, #096b2a);
  }

  .btn-gradient:hover {
    background-image: linear-gradient(to bottom right, #2563EB, #288d7b, #047857);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0;
    /* Add this line to remove default body margin */
    padding: 0;
    /* Add this line to remove default body padding */
    overflow-x: hidden;
    /* This prevents horizontal scrolling */
    -webkit-overflow-scrolling: touch;
    /* Add these Tailwind classes to ensure full-width content */

}
